BOT_DRY_RUN=true
BOT_OFFER_TIMEOUT_MINUTES=30
BOT_DAYS_OVERDUE_THRESHOLD=42

# Live mode integrations:
# BOT_DRY_RUN=false
# BOT_STRIPE_API_KEY=sk_live_xxx
# BOT_SQUARE_ACCESS_TOKEN=EAAA...
# BOT_SQUARE_LOCATION_ID=LOCATION_ID
# BOT_SQUARE_API_BASE=https://connect.squareup.com/v2

